{% extends "base.html" %}
{% block main %}
<div class="question row-fluid">
	<div class="span2">
		<img class="question_img" src="http://lorempixel.com/140/140/" style="margin-bottom:5px">
		<div>
			<p align="middle">
				<button class="btn btn-small btn-danger" type="button"><i class="icon-arrow-down icon-white"></i></button>
				<nobr>{{question.rating}}</nobr>
				<button class="btn btn-small btn-success" type="button"><i class="icon-arrow-up icon-white"></i></button> 						
			</p>
		</div>
	</div>
	<div class="span6">
		<h5><a href="/question?q={{question.id}}">{{question.title}}</a></h5>
			<p>{{question.text}}</p>
			<br align=bottom>Tags: 
			<p>
			   {% for tag in tags %}
				<a href="/?a=tag&tag={{tag}}">{{tag}}  </a>
			   {% endfor %}
			</p>
	</div>
</div>	

{% for i in "abc" %}
<div class="answer row-fluid">
	<div class="span2">
		<img class="question_img" src="http://lorempixel.com/110/110/" style="margin-bottom:5px">
		<div>
			<p align="middle">
				<button class="btn btn-small btn-danger" type="button"><i class="icon-arrow-down icon-white"></i></button>
				<nobr>5</nobr>
				<button class="btn btn-small btn-success" type="button"><i class="icon-arrow-up icon-white"></i></button> 						
			</p>
		</div>
	</div>

	<div class="span6">
			<p class="answer_text ordinary_text">Налей коту валерьянки и мой теплой водой под душем.</p>
			<label class="checkbox">
   				 <input type="checkbox"> Correct
 			</label>
	</div>

</div>
{% endfor %}
<div class="row-fluid" style="margin-left:10px; margin-top:2%;">
	<textarea rows="4" class="span12" id="answer_area"></textarea>
	<div class="control-group">
    	    <div class="controls">
    	        <button type="submit" class="btn" id="register_button" value="Create account" style="float:right;">Answer</button>
	    </div>
  	</div>
</div>

<div class="pagination" id="pager">
	<ul  align="left">
   		 <li><a href="#prev">Prev</a></li>
   		 <li  class="disabled"><a href="#1">1</a></li>
   		 <li><a href="#2">2</a></li>
  		 <li><a href="#3">3</a></li>
   		 <li class="disabled"><a href="#..." >...</a></li>
   		 <li><a href="#5">5</a></li>
   		 <li><a href="#next">Next</a></li>
 	</ul>
</div>
{% endblock %}
